:root {
  --me-color: #FF00FF;
}
 @import "style.css"

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body {margin:0; font-size:13px; font-style:normal; line-height:18px; font-family:'Source Sans Pro', sans-serif; background: #F2F2F2; color:#000000;}
h3 {text-transform:lowercase; font-size:16px;}
h3::before{content: "_"; color: var(--me-color);}

		table {
		  margin: 0 auto;
		  width: 80%;
		  text-align: left;
		  border-collapse: collapse;
		  border: 1px solid var(--me-color);
		  height: 500px; 		  
		}
		 
		tr:nth-child(even) {
		  background: #fff
		}
		 
		th, td {
		  padding: 10px 30px;
		  text-align: left;
		  border-bottom: 1px solid #ddd;
		}
		
		 
		th {
		  border-bottom: 1px solid var(--me-color);
		  font-style:bold;
		  font-size: 16px;
		}
		tr td:first-child { 
		font-style:italic;
		width: 40%;
		}
		